@media(max-width: 1499px){
	.db-h3{
		font-size: 35px;
	}
}
@media(max-width: 1299px){
	.db-h4{
		font-size: 30px;
	}
	.db-h3{
		font-size: 31px;
	}
}
@media(max-width: 1199px){
	.db-h2{
		font-size: 46px;
	}
	.db-h1{
		font-size: 48px;
	}
	.db-h4{
		font-size: 29px;
	}
	.db-h3{
		font-size: 25px;
	}
	.db-h5{
		font-size: 27px;
	}
		.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}
	.container,
	.container-xlg,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xs{
		padding-right: 20px;
    	padding-left: 20px;
	}
	.row{
		margin-right: -20px;
	    margin-left: -20px;
	}
	.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
		padding-right: 20px;
		padding-left: 20px;
	}
}


	@media(max-width: 992px){
	.db-h2{
		font-size: 43px;
	}
	.db-h4{
		font-size: 22px;
	}
	.db-h3{
		font-size: 20px;
	}
	.db-h5{
		font-size: 19px;
	}
	.db-h1{
		font-size: 37px;
	}
	.filter-option{
		min-height: 70px!important;
	}
	.dropdown-menu.show{
		top: 70px!important;
	}
}
@media(max-width: 767px){
	.db-h3{
		font-size: 25px;
	}
	.db-h2{
		font-size: 37px;
	}
	.slick-slider ul.slick-dots{
		padding-left: 49%!important;
	}
	.filter-option{
		min-height: 55px!important;
	}
	.dropdown-menu.show{
		top: 70px!important;
	}
	.dropdown-menu.show{
		top: 55px!important;
	}
}

@media(max-width: 575px){
    .db-h1 {
    	font-size: 30px!important;
    }
    .db-h2{
		font-size: 30px;
	}
	.slick-slider ul.slick-dots{
		padding-left: 6%!important;
	}
}
@media(max-width: 479px){
	.banner-des .db-h1{
		font-size: 23px!important;
	}
	.Contact-left-cntlr .db-h4 {
    font-size: 22px;
	}
	.db-h1{
		font-size: 25px;
	}
	.db-h1 {
    font-size: 19px;
	}
	.db-h3 {
	font-size: 20px;
	}
	.db-h4 {
	font-size: 18px;
	}
	.db-h2 {
	font-size: 19px;
	}
}
